[Unit]
Description=Enter PIN code
After=network-online.target

[Service]
Type=oneshot

ExecStart=/home/pi/enter_pin.sh

[Install]
WantedBy=default.target